<header class="header-area">
   <div class="header-top-bar padding-right-100px padding-left-100px">
      <div class="container-fluid">
         <div class="row align-items-center">
            <div class="col-lg-6">
               <div class="header-top-content">
                  <div class="header-left">
                     <ul class="list-items">
                        <li><a href="#"><i class="la la-phone mr-1"></i>(123) 123-456</a></li>
                        <li><a href="#"><i class="la la-envelope mr-1"></i>trizen@example.com</a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="header-top-content">
                  <div class="header-right d-flex align-items-center justify-content-end">
                     <div class="header-right-action">
                        <div class="select-contain select--contain w-auto" style="padding-right: 30px !important;">
                           <a routerLink="/"><i class="las la-door-open"></i> Cerrar Sesión</a>
                        </div>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="header-menu-wrapper padding-right-100px padding-left-100px">
      <div class="container-fluid">
         <div class="row">
            <div class="col-lg-12">
               <div class="menu-wrapper">
                  <a href="#" class="down-button"><i class="la la-angle-down"></i></a>
                  <div class="logo">
                     <a routerLink="/home"><img class="img.fluid" src="assets\images\logo-principal.png" alt="logo" style="width: 175px !important;"></a>
                     <div class="menu-toggler">
                        <i class="la la-bars"></i>
                        <i class="la la-times"></i>
                     </div>
                  </div>
                  <div class="main-menu-content">
                     <nav>
                        <ul>
                           <li><a routerLink="/home">Listado de Viajes <i class="la la-angle-down"></i></a></li>
                           <li><a routerLink="/reservation"><b>Nueva Reserva <i class="la la-angle-down"></i></b></a></li>
                           <li>
                              <a routerLink="/profile">
                                 <div class="d-flex align-items-center">
                                    <span class="font-size-14 font-weight-bold" style="padding-right: 10px !important;">David Carrillo</span>
                                    <div class="avatar avatar-sm flex-shrink-0 mr-2"><img src="assets/images/team7.png"></div>
                                 </div>
                              </a>
                           </li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</header>



<!-- ================================
    START ROOM DETAIL BREAD
================================= -->
<section class="room-detail-bread">
   <div class="full-width-slider carousel-action">
      <div class="full-width-slide-item">
         <img src="assets/images/img34.jpg" alt="">
      </div>
      <!-- end full-width-slide-item -->
      <div class="full-width-slide-item">
         <img src="assets/images/img33.jpg" alt="">
      </div>
      <!-- end full-width-slide-item -->
      <div class="full-width-slide-item">
         <img src="assets/images/img32.jpg" alt="">
      </div>
      <!-- end full-width-slide-item -->
      <div class="full-width-slide-item">
         <img src="assets/images/img31.jpg" alt="">
      </div>
      <!-- end full-width-slide-item -->
      <div class="full-width-slide-item">
         <img src="assets/images/img30.jpg" alt="">
      </div>
      <!-- end full-width-slide-item -->
   </div>
   <!-- end full-width-slider -->
</section>
<!-- end room-detail-bread -->
<!-- ================================
  END ROOM DETAIL BREAD
================================= -->

<!-- ================================
  START TOUR DETAIL AREA
================================= -->
<section class="tour-detail-area padding-bottom-90px">
   <div class="single-content-navbar-wrap menu section-bg" id="single-content-navbar">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="single-content-nav" id="single-content-nav">
                  <ul>
                     <li><a data-scroll="description" href="#description" class="scroll-link active">Description</a></li>
                     <li><a data-scroll="services" href="#services" class="scroll-link">Services</a></li>
                     <li><a data-scroll="amenities" href="#amenities" class="scroll-link">Amenities</a></li>
                     <li><a data-scroll="location-map" href="#location-map" class="scroll-link">Map</a></li>
                     <li><a data-scroll="reviews" href="#reviews" class="scroll-link">Reviews</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end single-content-navbar-wrap -->
   <div class="single-content-box">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <div class="single-content-wrap padding-top-60px">
                  <div id="description" class="page-scroll">
                     <div class="single-content-item pb-4">
                        <h3 class="title font-size-26">Premium Lake View Room</h3>
                        <p class="pt-2">
                           <span class="badge badge-warning text-white font-size-16">4.6</span>
                           <span>(4,209 Reviews)</span>
                        </p>
                     </div>
                     <!-- end single-content-item -->
                     <div class="section-block"></div>
                     <div class="single-content-item padding-top-30px padding-bottom-40px">
                        <h3 class="title font-size-20">Description</h3>
                        <p class="py-3">Per consequat adolescens ex, cu nibh commune temporibus vim, ad sumo viris eloquentiam sed. Mea appareat omittantur eloquentiam ad, nam ei quas oportere democritum. Prima causae admodum id est, ei timeam inimicus sed. Sit an meis
                           aliquam, cetero inermis vel ut. An sit illum euismod facilisis, tamquam vulputate pertinacia eum.</p>
                        <p class="pb-4">Cum et probo menandri. Officiis consulatu pro et, ne sea sale invidunt, sed ut sint blandit efficiendi. Atomorum explicari eu qui, est enim quaerendum te. Quo harum viris id. Per ne quando dolore evertitur, pro ad cibo commune.</p>
                        <h3 class="title font-size-15 font-weight-medium pb-3">House Rules</h3>
                        <ul class="list-items">
                           <li><i class="la la-dot-circle mr-2"></i>No smoking, parties or events.</li>
                           <li><i class="la la-dot-circle mr-2"></i>Check-in time is 2 PM - 4 PM and check-out by 10 AM.</li>
                        </ul>
                     </div>
                     <!-- end single-content-item -->
                     <div class="section-block"></div>
                  </div>
                  <!-- end description -->
                  <div id="services" class="page-scroll">
                     <div class="single-content-item padding-top-40px padding-bottom-40px">
                        <h3 class="title font-size-20">Services</h3>
                        <div class="row pt-4">
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Bicycle Hire</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Conference Rooms</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Fruit Basket</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Massage</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Sightseeing</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Car Hire</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Fitness Center</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Laundry</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Own Parking Space</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-check-circle"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Wake-Up Call</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end single-content-item -->
                     <div class="section-block"></div>
                  </div>
                  <!-- end itinerary -->
                  <div id="amenities" class="page-scroll">
                     <div class="single-content-item padding-top-40px padding-bottom-40px">
                        <h3 class="title font-size-20">Amenities</h3>
                        <div class="row pt-4">
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-couch"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">2 Seater Sofa</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-television"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">40-Inch Samsung LED TV</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-gear"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Butler Service</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-wifi"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Free Wi – Fi</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-swimming-pool"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Private Pool</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-user"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">24h Room Service</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-air-freshener"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Air Conditioning</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-phone"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Direct Dial Phone</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-bullhorn"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Hair Dryer</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-bathtub"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Bathtub</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-hand-holding-usd"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Safe Deposit Box</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                           <div class="col-lg-4 responsive-column">
                              <div class="single-tour-feature d-flex align-items-center mb-3">
                                 <div class="single-feature-icon icon-element ml-0 flex-shrink-0 mr-3">
                                    <i class="la la-luggage-cart"></i>
                                 </div>
                                 <div class="single-feature-titles">
                                    <h3 class="title font-size-15 font-weight-medium">Luggage storage</h3>
                                 </div>
                              </div>
                              <!-- end single-tour-feature -->
                           </div>
                           <!-- end col-lg-4 -->
                        </div>
                        <!-- end row -->
                     </div>
                     <!-- end single-content-item -->
                     <div class="section-block"></div>
                  </div>
                  <!-- end itinerary -->
                  <div id="location-map" class="page-scroll">
                     <div class="single-content-item padding-top-40px padding-bottom-40px">
                        <h3 class="title font-size-20">Location</h3>
                        <div class="map-container padding-top-30px">
                           <!-- <div id="map"></div> -->
                           <img src="assets/images/mapa.png" alt="Mapa" style="width: 900px;">
                        </div>
                        <!-- end map-container -->
                     </div>
                     <!-- end single-content-item -->
                     <div class="section-block"></div>
                  </div>
                  <!-- end location-map -->
               </div>
               <!-- end single-content-wrap -->
            </div>
            <!-- end col-lg-8 -->
            <div class="col-lg-4">
               <div class="sidebar single-content-sidebar mb-0">
                  <div class="sidebar-widget single-content-widget">
                     <h3 class="title stroke-shape">Your Reservation</h3>
                     <div class="sidebar-widget-item">
                        <div class="contact-form-action">
                           <form action="#">
                              <div class="input-box">
                                 <label class="label-text">Check-in</label>
                                 <div class="form-group">
                                    <span class="la la-calendar form-icon"></span>
                                    <input class="date-range form-control" type="text" name="daterange-single" value="04/28/2020">
                                 </div>
                              </div>
                              <div class="input-box">
                                 <label class="label-text">Check-out</label>
                                 <div class="form-group">
                                    <span class="la la-calendar form-icon"></span>
                                    <input class="date-range form-control" type="text" name="daterange-single" value="04/28/2020">
                                 </div>
                              </div>
                              <div class="input-box">
                                 <label class="label-text">Rooms</label>
                                 <div class="form-group">
                                    <div class="select-contain w-auto">
                                       <select class="select-contain-select">
                                                      <option value="0">Select Room</option>
                                                      <option value="1" selected>1 Room</option>
                                                      <option value="2">2 Rooms</option>
                                                      <option value="3">3 Rooms</option>
                                                      <option value="4">4 Rooms</option>
                                                      <option value="5">5 Rooms</option>
                                                      <option value="6">6 Rooms</option>
                                                      <option value="7">7 Rooms</option>
                                                      <option value="8">8 Rooms</option>
                                                      <option value="9">9 Rooms</option>
                                                      <option value="10">10 Rooms</option>
                                                  </select>
                                    </div>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <!-- end sidebar-widget-item -->
                     <div class="sidebar-widget-item">
                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                           <label class="font-size-16">Adults <span>Age 18+</span></label>
                           <div class="qtyBtn d-flex align-items-center">
                              <input type="text" name="qtyInput" value="1">
                           </div>
                        </div>
                        <!-- end qty-box -->
                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                           <label class="font-size-16">Children <span>2-12 years old</span></label>
                           <div class="qtyBtn d-flex align-items-center">
                              <input type="text" name="qtyInput" value="1">
                           </div>
                        </div>
                        <!-- end qty-box -->
                        <div class="qty-box mb-2 d-flex align-items-center justify-content-between">
                           <label class="font-size-16">Infants <span>0-2 years old</span></label>
                           <div class="qtyBtn d-flex align-items-center">
                              <input type="text" name="qtyInput" value="0">
                           </div>
                        </div>
                        <!-- end qty-box -->
                     </div>
                     <!-- end sidebar-widget-item -->
                     <div class="sidebar-widget-item py-4">
                        <h3 class="title stroke-shape">Extra Services</h3>
                        <div class="extra-service-wrap">
                           <form action="#" method="post" class="extraServiceForm" id="extraServiceForm">
                              <div id="checkboxContainPrice">
                                 <div class="custom-checkbox">
                                    <input type="checkbox" name="cleaning" id="cleaningChb" value="15.00" />
                                    <label for="cleaningChb" class="d-flex justify-content-between align-items-center">Cleaning Fee <span class="text-black font-weight-regular">$15</span></label>
                                 </div>
                                 <div class="custom-checkbox">
                                    <input type="checkbox" name="airport-pickup" id="airportPickupChb" value="20.00" />
                                    <label for="airportPickupChb" class="d-flex justify-content-between align-items-center">Airport pickup <span class="text-black font-weight-regular">$20</span></label>
                                 </div>
                                 <div class="custom-checkbox">
                                    <input type="checkbox" name="breakfast" id="breakfastChb" value="10.00" />
                                    <label for="breakfastChb" class="d-flex justify-content-between align-items-center">Breakfast <span class="text-black font-weight-regular">$10/ per person</span></label>
                                 </div>
                                 <div class="custom-checkbox">
                                    <input type="checkbox" name="parking" id="parkingChb" value="5.00" />
                                    <label for="parkingChb" class="d-flex justify-content-between align-items-center">Parking <span class="text-black font-weight-regular">$5/ per night</span></label>
                                 </div>
                              </div>
                              <div class="total-price pt-3">
                                 <p class="text-black">Your Price</p>
                                 <p class="d-flex align-items-center"><span class="font-size-17 text-black">$</span> <input type="text" name="total" class="num" value="80.00" readonly="readonly" /><span>/ per room</span></p>
                              </div>
                           </form>
                        </div>
                     </div>
                     <!-- end sidebar-widget-item -->
                     <div class="btn-box">
                        <a href="cart.html" class="theme-btn text-center w-100 mb-2">Book Now</a>
                     </div>
                  </div>
                  <!-- end sidebar-widget -->
                  <div class="sidebar-widget single-content-widget">
                     <h3 class="title stroke-shape">Why Book With Us?</h3>
                     <div class="sidebar-list">
                        <ul class="list-items">
                           <li><i class="la la-dollar icon-element mr-2"></i>No-hassle best price guarantee</li>
                           <li><i class="la la-microphone icon-element mr-2"></i>Customer care available 24/7</li>
                           <li><i class="la la-thumbs-up icon-element mr-2"></i>Hand-picked Tours & Activities</li>
                           <li><i class="la la-file-text icon-element mr-2"></i>Free Travel Insureance</li>
                        </ul>
                     </div>
                     <!-- end sidebar-list -->
                  </div>
                  <!-- end sidebar-widget -->
                  <div class="sidebar-widget single-content-widget">
                     <h3 class="title stroke-shape">Get a Question?</h3>
                     <p class="font-size-14 line-height-24">Do not hesitate to give us a call. We are an expert team and we are happy to talk to you.</p>
                     <div class="sidebar-list pt-3">
                        <ul class="list-items">
                           <li><i class="la la-phone icon-element mr-2"></i><a href="#">+ 61 23 8093 3400</a></li>
                           <li><i class="la la-envelope icon-element mr-2"></i><a href="mailto:info@trizen.com">info@trizen.com</a></li>
                        </ul>
                     </div>
                     <!-- end sidebar-list -->
                  </div>
                  <!-- end sidebar-widget -->
               </div>
               <!-- end sidebar -->
            </div>
            <!-- end col-lg-4 -->
         </div>
         <!-- end row -->
      </div>
      <!-- end container -->
   </div>
   <!-- end single-content-box -->
</section>
<!-- end tour-detail-area -->
<!-- ================================
  END TOUR DETAIL AREA
================================= -->



<section>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="copy-right padding-top-10px">
               <p class="copy__desc"> &copy; Copyright Innvacloud 2020. </p>
            </div>
         </div>
         <div class="col-lg-5">
            <div class="footer-social-box padding-top-10px text-right">
               <ul class="social-profile">
                  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                  <li><a href="#"><i class="lab la-twitter"></i></a></li>
                  <li><a href="#"><i class="lab la-instagram"></i></a></li>
                  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>