<div class="div_contenedor"
  style="background-image: url('assets/images/fondos/fondo1.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);">
  <div class="div_centrado">
    <div class="row">

      <div class="col-md-5 text-center">
        <div class="line" style="padding-bottom: 145px;">&nbsp;</div>
        <div>
          <img src="assets/images/logos/logo-principal-blanco.png" alt="Salud S.A." style="width: 300px;">
        </div>
      </div>

      <div class="col-md-2"
        style="text-align: center !important; align-items: center !important; align-content: center !important;">
        <img class="line" src="assets/images/icons/linea.png" alt="|" style="height: 50%;">
      </div>

      <div class="col-md-5 text-left">

        <div class="text-center user-img">
          <img src="assets/images/icons/user-login.png" alt="Salud S.A." style="width: 100px;">
        </div>
        <br>
        <br class="user-salto">
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="background-color: rgba(255, 255, 255, 0.5) !important; border-color: rgba(255, 255, 255, 0.1) !important;">
                <span class="las la-user-tie la-64px form-icon" style="color: #ffffff !important;"></span>
              </span>
            </div>
            <input type="text" class="form-control texto"
              style="background-color: rgba(255, 255, 255, 0.5) !important; border-color: rgba(255, 255, 255, 0.5) !important;"
              placeholder="Correo Electrónico" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="background-color: rgba(255, 255, 255, 0.5) !important; border-color: rgba(255, 255, 255, 0.1) !important;">
                <span class="las la-key la-64px form-icon" style="color: #ffffff !important;"></span>
              </span>
            </div>
            <input type="password" class="form-control texto"
              style="background-color: rgba(255, 255, 255, 0.5) !important; border-color: rgba(255, 255, 255, 0.5) !important;"
              placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="custom-checkbox mb-0">
                <input type="checkbox" id="rememberchb">
                <label for="rememberchb" class="text-white">Recuerdame</label>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <a href=""><label class="label-text text-white"><i class="las la-sync-alt"> </i> Recuperar
                  Contraseña</label></a>
            </div>
          </div>
          <div style="padding-top: 40px;"></div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" routerLink="home"
              style="letter-spacing: 0.5px;"><b>INGRESAR</b></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section
  style="background-image: url('assets/images/fondos/fondo1.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover; min-height: calc(100vh - 0px);  overflow-y:hidden">
  <div class="container">
    <div class="row">

      <div class="col-md-5 text-center">
        <div style="padding-bottom: 145px;">&nbsp;</div>
        <div>
          <img src="assets/images/logos/logo-principal-blanco.png" alt="Salud S.A." style="width: 300px;">
        </div>
      </div>

      <div class="col-md-2"
        style="text-align: center !important; align-items: center !important; align-content: center !important;">
        <img class="line" src="assets/images/icons/linea.png" alt="|" style="height: 50%;">
      </div>

      <div class="col-md-5 text-left">

        <div class="text-center user-img">
          <img src="assets/images/icons/user-login.png" alt="Salud S.A." style="width: 100px;">
        </div>
        <br>
        <br class="user-salto">
        <div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="background-color: rgba(255, 255, 255, 0.6) !important; border-color: rgba(255, 255, 255, 0.1) !important;">
                <span class="las la-user-tie la-64px form-icon" style="color: #000000 !important;"></span>
              </span>
            </div>
            <input type="text" class="form-control texto"
              style="background-color: rgba(255, 255, 255, 0.6) !important; border-color: rgba(255, 255, 255, 0.6) !important;"
              placeholder="Correo Electrónico" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"
                style="background-color: rgba(255, 255, 255, 0.6) !important; border-color: rgba(255, 255, 255, 0.1) !important;">
                <span class="las la-key la-64px form-icon" style="color: #000000 !important;"></span>
              </span>
            </div>
            <input type="password" class="form-control texto"
              style="background-color: rgba(255, 255, 255, 0.6) !important; border-color: rgba(255, 255, 255, 0.6) !important;"
              placeholder="Contraseña" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="custom-checkbox mb-0">
                <input type="checkbox" id="rememberchb">
                <label for="rememberchb" class="text-white">Recuerdame</label>
              </div>
            </div>
            <div class="col-md-6 text-right">
              <a href=""><label class="label-text text-white"><i class="las la-sync-alt"> </i> Recuperar
                  Contraseña</label></a>
            </div>
          </div>
          <div style="padding-top: 40px;"></div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" routerLink="home"
              style="letter-spacing: 0.5px;"><b>INGRESAR</b></button>
          </div>
        </div>

        <!--

        <div class="search-fields-container search-fields-container-shape">
          <div class="search-fields-container-inner">
            <h3 class="title pb-3">Inicio de Sesión</h3>
            <div class="section-block"></div>
            <div class="contact-form-action pt-3">
              <form action="#" class="row">
                <div class="col-lg-12">
                  <div class="input-box">
                    <label class="label-text">Correo Electrónico</label>
                    <div class="form-group">
                      <span class="las la-user-tie form-icon"></span>
                      <input class="form-control" type="text" placeholder="Ingrese su correo electrónico">
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-box">
                    <label class="label-text">Contraseña</label>
                    <div class="form-group">
                      <span class="las la-key la-64px form-icon"></span>
                      <input class="form-control" type="password" placeholder="Ingrese su contraseña">
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="input-box" style="text-align: right !important;">
                    <a href=""><label class="label-text"><i class="las la-sync-alt"> </i> Recuperar
                        Contraseña</label></a>
                  </div>
                </div>
                <div class="col-lg-12" style="margin-top: 30px !important; margin-bottom: 20px !important;">
                  <div class="form-row">
                    <div class="col-2"></div>
                    <div class="col-8">
                      <button class="btn btn-primary btn-block" routerLink="home"><b>Ingresar</b></button>
                    </div>
                    <div class="col-2"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      -->
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <div class="copy-right padding-top-10px">
            <p class="copy__desc">
              &copy; Copyright Innvacloud 2020.
            </p>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="footer-social-box padding-top-10px text-right">
            <ul class="social-profile">
              <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
              <li><a href="#"><i class="lab la-twitter"></i></a></li>
              <li><a href="#"><i class="lab la-instagram"></i></a></li>
              <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
