<section class="hero-box hero-bg-4">
   <div class="container " style="padding-top: 100px !important; padding-bottom: 100px !important;">
      <div class="row">
         <div class="col-lg-7" style="padding-top: 75px !important; padding-left: 140px !important;">
            <img src="assets/images/logo-principal-blanco.png" alt="Salus s.A." style="width: 300px;">
         </div>

         <div class="col-lg-5">
            <div class="search-fields-container search-fields-container-shape">
               <div class="search-fields-container-inner">
                  <h3 class="title pb-3">Inicio de Sesión</h3>
                  <div class="section-block"></div>
                  <div class="contact-form-action pt-3">
                     <form action="#" class="row">
                        <div class="col-lg-12">
                           <div class="input-box">
                              <label class="label-text">Correo Electrónico</label>
                              <div class="form-group">
                                 <span class="las la-user-tie form-icon"></span>
                                 <input class="form-control" type="text" placeholder="Ingrese su correo electrónico">
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="input-box">
                              <label class="label-text">Contraseña</label>
                              <div class="form-group">
                                 <span class="las la-key la-64px form-icon"></span>
                                 <input class="form-control" type="password" placeholder="Ingrese su contraseña">
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="input-box" style="text-align: right !important;">
                              <a href=""><label class="label-text"><i class="las la-sync-alt"> </i> Recuperar Contraseña</label></a>
                           </div>
                        </div>
                        <div class="col-lg-12" style="margin-top: 30px !important; margin-bottom: 20px !important;">
                           <div class="form-row">
                              <div class="col-2"></div>
                              <div class="col-8">
                                 <button class="btn btn-primary btn-block" routerLink="home"><b>Ingresar</b></button>
                              </div>
                              <div class="col-2"></div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>


<section>
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-7">
            <div class="copy-right padding-top-10px">
               <p class="copy__desc">
                  &copy; Copyright Innvacloud 2020.
               </p>
            </div>
         </div>
         <div class="col-lg-5">
            <div class="footer-social-box padding-top-10px text-right">
               <ul class="social-profile">
                  <li><a href="#"><i class="lab la-facebook-f"></i></a></li>
                  <li><a href="#"><i class="lab la-twitter"></i></a></li>
                  <li><a href="#"><i class="lab la-instagram"></i></a></li>
                  <li><a href="#"><i class="lab la-linkedin-in"></i></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>